<div class="container">
  <div class="row">
    <div class="col-md-7"> 
      <%= image_tag @portfolio.main_image.present? ? @portfolio.main_image.url : Placeholder.image_generator(width: 600, hieght: 400), width: 600 %>
    </div>
    <div class="col-md-5">
      <h1><%= @portfolio.title %></h1>
      <em><%= @portfolio.subtitle %></em>
      <p><%= @portfolio.body %></p>
      <h3>Added technologies</h3>
      <% @portfolio.technologies.each do |tech| %>
        <%= tech.name %>
      <% end %>
    </div>
  </div>
</div>