<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_header %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="<%= @meta_data %>">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render "shared/nav", location: "top" %>

    <%= header_links %>

    <%= yield %>
    <br>
    <%= visitor_message("application") %>
  </body>
</html>
